.prev-month, .next-month {
    color: #CCC;
    width: 200px;
}

.today {
    font-weight: normal;
    background: transparent;
    width: 100px;
}

.title {
    background: #AAAAFF;
    margin: 10px 0;
    padding: 5px
}

table {
    border: 1px solid #CCC;
    padding: 0px;
    margin: 0;
}

table th {
    text-align: left;
    vertical-align: top;
    width: 100px;
    border: 1px solid black;
    padding: 0px;
    margin: 0;
}

table td {
    text-align: left;
    vertical-align: top;
    width: 100px;
    border: 1px solid black;
    height: 80px;
    padding: 0px;
    margin: 0;
}

#calendarCode {
    width: 100%;
}

html, body {
    font: normal 15px Calibri;      /* This translates into 11px when copied into OneNote */
    margin: 0;
    padding: 0;
}
